 
footer {
  background: #544AEC;     
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  padding: 20px ;
  height: 30ff0px;
  z-index: 0;
 
}

 
footer .footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  max-width: 1000px;
  margin: 0 auto;
  
}

 
footer a {
  color: #ccc;
  text-decoration: none;
  
}
footer a:hover {
  color: #fff;
}

 
 
footer.push-to-bottom {
  margin-top: auto;        
}

 
footer.fixed-bottom {
  
  bottom: 0;
  left: -100;
  width: 99%;
  z-index: 10;
}

 
.page-content--with-fixed-footer {
  padding-bottom: 0px;   
}
span{
  position: relative;
  margin-top: 150px;
  left: -200px;
}

 
@media (max-width: 480px) {
  footer {
    font-size: 12px;
    padding: 10px 0;
  }
}
.teks{
  position:relative;
  left: -500px;
   top: 0px;
  width: 350px;
  color: #fff;
  font-size: 18px;
  text-align: justify;
}
.kampus{
  position: relative;
  left: -200px;
  font-size: 25px;
  line-height: 35px;
  color: #ffff;
  top: -100px;
  text-align: left;
}
.kampus a{
 font-size: 18px;
  color: #ffff;
}
.logo{
  position:relative;
  top:0px;
  left: -1100px; 
}
.map-wrapper{
  position: relative;
  margin-top: -300px;
  left: 600px;
}
.address{
  left:600px ;
  position: relative;
}
span{
  position: relative;
 margin-top: -10px;
 left: -400px;
}